<div class="floor whereSponsorsLive">
   <div class="inner-wide">
    <h2 class="visuallyhidden">Sponsors</h2>
    <ul class="sponsors group">
        <li><span class="featured">Breakfast</span><a href="http://netliferesearch.com/" title="Netlife Research">
          <img src="/img/sponsors/netlife.png" alt="Netlife Research"></a></li>
        <li><span class="featured">Lunch</span><a href="http://www.accenture.no/" title="Accenture">
          <img src="/img/sponsors/accenture.png" alt="Accenture"></a></li>
        <li><span class="featured">Chill out</span><a href="http://www.ciber.no" title="Ciber">
          <img src="/img/sponsors/ciber.png" alt="Ciber"></a></li>
        <li><span class="featured">★★★</span><a href="http://bouvet.no" title="Bouvet"><img src="/img/sponsors/bouvet.png" alt="Bouvet"></a></li>
        <li><span class="featured">Coffee</span><a href="http://mandrill.com/" title="Mandrill"><img src="/img/sponsors/mandrill.png" alt="Mandrill"></a></li>
        <li><a href="http://bekk.no" title="Bekk"><img src="/img/sponsors/bekk.png" alt="Bekk"></a></li>
        <li><a href="http://kodemaker.no" title="Kodemaker"><img src="/img/sponsors/kodemaker.png" alt="Kodemaker"></a></li>
        <li><a href="http://www.xeneta.com" title="Xeneta"><img src="/img/sponsors/xeneta.png" alt="Xeneta"></a></li>
        <li><a href="https://www.paypal.com" title="PayPal"><img src="/img/sponsors/paypal.png" alt="PayPal"></a></li>
        <li><a href="http://www.knowit.no/" title="Knowit Norge"><img src="/img/sponsors/knowit.png" alt="Knowit"></a></li>
        <li><a href="http://www.webstep.com/" title="Webstep"><img src="/img/sponsors/webstep.png" alt="Webstep"></a></li>
        <li><a href="http://www.finn.no/" title="Finn.no"><img src="/img/sponsors/finn.png" alt="Finn.no"></a></li>
        <li><a href="/sponsors/packages" title="Sponsor packages"><img src="/img/sponsors/sponsor2.png" alt=""></a></li>
        <li><a href="/sponsors/packages" title="Sponsor packages"><img src="/img/sponsors/sponsor3.png" alt=""></a></li>
    </ul>
   </div>
</div>


<footer class="cellar">
  <div class="inner">
    <ul class="menu notsoloud">
      <li class="menu-item"><a href="/about">About</a></li>
      <li class="menu-item"><a href="/speakers">Speakers</a></li>
      <li class="menu-item"><a href="/location">Location</a></li>
      <li class="menu-item"><a href="/schedule">Schedule</a></li>
      <li class="menu-item"><a href="/openmic">Open Mic</a></li>
      <li class="menu-item"><a href="http://oslo.nodeconf.com/">ONE-SHOT</a></li>
      <li class="menu-item"><a href="/sponsors">Sponsors</a></li>
      <li class="menu-item"><a href="/oslo">Oslo Survival Guide</a></li>
      <li class="menu-item"><a href="/family">Family Rebels</a></li>
      <li class="menu-item"><a href="/scholarship" title="Web Rebels Scholarship Programme">Scholarship Programme</a></li>
      <li class="menu-item"><a href="/about">Code of Conduct</a></li>
    </ul>
    <h2 id="moar" class="notsoloud">Check out previous years! And remember to find, follow, track, like & love us elsewhere:</h2>
    <ul class="menu notsoloud">
      <li class="menu-item"><a href="http://2014.webrebels.org/">WR 2014</a></li>
      <li class="menu-item"><a href="http://2013.webrebels.org/">WR 2013</a></li>
      <li class="menu-item"><a href="http://2012.webrebels.org/">WR 2012</a></li>
      <li class="menu-item"><a href="http://twitter.com/web_rebels">Twitter</a></li>
      <li class="menu-item"><a href="http://lanyrd.com/2015/webrebels/">Lanyrd</a></li>
      <li class="menu-item"><a href="http://flickr.com/webrebels">Photos</a></li>
      <li class="menu-item"><a href="https://vimeo.com/webrebels">Video of talks</a></li>
      <li class="menu-item"><a href="http://webrebels.tumblr.com">Tumblr</a></li>
    </ul>
  </div>
</footer>
