<footer>
	<a href="//twitter.com/web_rebels">@web_rebels</a><br>
	<a href="http://2014.webrebels.org">2014</a> |
	<a href="http://2013.webrebels.org">2013</a> |
	<a href="http://2012.webrebels.org">2012</a>
</footer>