<header class="attic penthouse">
  <div class="inner group">
    <h1 class="visuallyhidden">Web Rebels Conference</h1>
    <div class="logo">
      <a href="/"><img class="logo-img" src="img/logo-webrebels.svg" alt="Web Rebels"></a>
    </div>
    <div class="info">
      <h1 class="ratherloud-heading c4">21<span>–</span>22 May 2015</h1>
      <h1 class="ratherloud-heading c3">Oslo, Norway</h1>
    </div>
  </div>
</header>