<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>{{pageTitle}}</title>
    <meta name="description" content="Web Rebels are a non-profit, community driven conference for everyone who loves developing applications and services using web technology.">
    {{> analytics}}
    <style>
    .splash, footer {
        text-align: center;
        width: 100%;
    }
    body {
        background-color: #333;
        color: #fff;
        font-size: 18px;
    }
    a, a:visited {
        color: #fff;
    }
    .sponsorpackages {
	    text-align: left;
	    max-width: 700px;
	    margin: 0 auto;
    }
    h1 {
	    font-size: 50px;
    }
    h2 {
	    font-size: 30px;
	    border-top: 1px solid #eee;
    }
    p {
	    margin-bottom: 40px;
    }
    </style>
</head>