<table class="schedule">
   <tr class="schedule-break">
     <th>19:00</th>
     <td>
     <h3>Bar opens</h3>
     <p>Come as you are, grab someting in the bar and make some new friends!</p>
     </td>
   </tr>
   <tr class="schedule-talk">
     <th>20:00</th>
     <td>
       <h3>Kristofer Walters</h3>
       <p>Building web components</p>
     </td>
   </tr>
   <tr class="schedule-talk">
     <th>20:15</th>
     <td>
       <h3>Asbjørn Andersen</h3>
       <p>Exploring a simpler abstraction for swarms</p>
     </td>
   </tr>
   <tr class="schedule-talk">
     <th>20:30</th>
     <td>
       <h3>Lotte Johansen</h3>
       <p>Accessibility for everyone</p>
     </td>
   </tr>
   <tr class="schedule-break">
     <th>20:45</th>
     <td>
     <p>Break</p>
     </td>
   </tr>
   <tr class="schedule-talk">
     <th>21:15</th>
     <td>
       <h3>Krisztina Matyi</h3>
       <p>Introduction to <a href="https://www.codebar.io/">codebar.io</a></p>
     </td>
   </tr>
   <tr class="schedule-talk">
     <th>21:30</th>
     <td>
       <h3>Maxim Salnikov</h3>
       <p>Graphics on web: past, present and future</p>
     </td>
   </tr>
   <tr class="schedule-talk">
     <th>21:45</th>
     <td>
       <h3>Marius Nielsen</h3>
       <p>From jQuery to React at Xeneta</p>
     </td>
   </tr>
   <tr class="schedule-talk">
     <th>22:00</th>
     <td>
       <h3>Espen Klem</h3>
       <p>Personal Search - Your digital life searchable?</p>
     </td>
   </tr>
</table>