<div class="floor">
  <div class="inner-nrw">
<h1 class="ratherloud-heading">All about the conference</h1>
<article>
<img src="img/classof2014.jpg">
  <h2>A non-profit, community driven conference</h2>
<p>Web Rebels is for everyone who loves developing applications and services using web technology. We are proud members of <a href="http://jsconf.com/">the JSConf family of events</a>. We are a <a href="http://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=997686659">registered not-for-profit organization</a> and is run by unpaid volunteers. If we make any profit from the conference we give 30% back to community groups throughout the Nordic region.</p>
<p> Any questions you might have, please do not hesitate to <a href="mailto:boyhowdy[ replace this bracket with a @ ]webrebels.org">shoot us an email</a> or ask <a href="http://twitter.com/web_rebels/">on Twitter</a>.</p>

</article>

<article>
    <h2>Code of Conduct</h2>
    <p>We want these couple of days to be truly enjoyable for everyone.  Attendees, speakers, sponsors and volunteers must respect the <a href="http://jsconf.com/codeofconduct.html">JSConf Code of Conduct</a>. If anything happens that you feel we should know about, please contact one of the organizers.</p>
</article>


<article>
<h2>16 invited speakers</h2>
<p>For the <a href="./schedule">conference main track</a> we invite <a href="./speakers">16 speakers</a>. We do not have a CFP and our <a href="./policies">policy</a> is that speakers at the conference get paid for their travel and accommodation. We do not sell speaker slots and we do not accept sales pitches masked as presentations.
</p>
</article>

<article>
    <h2>About the web design</h2>
    <p>We hired <a href="https://twitter.com/elisabethirg">Elisabeth Irgens</a> as our designer for the 2nd year in a row. She has been responsible for design, HTML and CSS. This time, we finally turned her into a <a href="http://github.com/elisabethirgens">GitHub user</a> – very practical if you want her to design your web projects.</p>
</article>
  </div>
</div> <!-- /floor -->
