<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>{{pageTitle}}</title>
    <meta name="description" content="Web Rebels are a non-profit, community driven conference for everyone who loves developing applications and services using web technology.">
    {{> analytics}}
    <style>
    .splash, footer {
        text-align: center;
        width: 100%;
    }
    body {
        background-color: #000;
        color: #fff;
    }
    a, a:visited {
        color: #fff;
    }
    </style>
</head>
<body>
