<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>{{pageTitle}}</title>
    <meta name="description" content="Web Rebels are a non-profit, community driven conference for everyone who loves developing applications and services using web technology.">
    {{> analytics}}
    <style>
    .splash, footer {
    	text-align: center;
    	width: 100%;
    }
    body {
    	background-color: #3BE;
    	color: #fff;
    }
    a, a:visited {
    	color: #fff;
    }
    </style>
</head>
<body class="index">
<article class="splash">
	<img class="logo-img" src="img/logo-webrebels.png" alt="Web Rebels">
	<h1>May 21-22, 2015</h1>
	<p>Oslo, Norway</p>
</article>
<footer>
	<a href="//twitter.com/web_rebels">@web_rebels</a> |
	<a href="http://2014.webrebels.org">2014</a> |
	<a href="http://2013.webrebels.org">2013</a> |
	<a href="http://2012.webrebels.org">2012</a>
</footer>

</body>
</html>