<div class="floor">
  <div class="inner">
    <div class="gridone gridone-a">
       <div class="chunk chunk-tickets c1">
          <a href="/tickets" title ="Tickets" class="chunk-linkbox">
             <h2 class="ratherloud-heading c1">Tickets</h2>
             <p>First batch goes on sale TODAY at 13:00 CET.
             <strong>Go get your ticket over here</strong>&nbsp;<span class="arr">➡</span>
             </p>
          </a>
       </div>
    </div>
    <div class="gridone gridone-b">
       <div class="chunk chunk-lookingback c2">
          <a href="#moar" title ="Links to stuff" class="chunk-linkbox">
             <h2 class="ratherloud-heading c2">Previous years</h2>
             <p>While you wait for May, take a look a videos of talks, photos and sites from the previous three
          years.</p>
          </a>
       </div>
    </div>
    <div class="gridtwo">
       <div class="chunk chunk-about c0">
          <a href="/about" title="About the conference" class="chunk-linkbox">
             <h2 class="ratherloud-heading c0">All Web, All The Time</h2>
             <p>Web Rebels is <strong>a non-profit, community driven conference</strong>
             for everyone who loves developing applications and services using web technology.
             Two days, one track, 16 speakers, 150 attendees and a&nbsp;Code of Conduct.
             Go read more <strong>about the conference</strong>&nbsp;<span class="arr">➡</span>
             </p>
          </a>
       </div>
    </div>
  </div>
</div> <!-- /floor -->

<div class="floor whereSpeakersHangOut">
  <div class="inner">
    <h2 class="visuallyhidden">Speakers</h2>
      <ul class="speakers">
        <li class="speaker">
          <a class="speaker-link" href="/speakers#barbarabermes" title="Barbara Bermes">
            <img class="speaker-img" src="img/speakers/barbarabermes.png" alt="Barbara Bermes">
            <h3 class="speaker-name ratherloud-rebel">Barbara Bermes</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#cjsilverio" title="C J Silverio">
            <img class="speaker-img" src="img/speakers/cjsilverio.png" alt="C J Silverio">
            <h3 class="speaker-name ratherloud-rebel">C J Silverio</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#daleharvey" title="Dale Harvey">
            <img class="speaker-img" src="img/speakers/daleharvey.png" alt="Dale Harvey">
            <h3 class="speaker-name ratherloud-rebel">Dale Harvey</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#fergusmcdowall" title="Fergus McDowall">
            <img class="speaker-img" src="img/speakers/fergusmcdowall.png" alt="Fergus McDowall">
            <h3 class="speaker-name ratherloud-rebel">Fergus McDowall</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#jennschiffer" title="Jenn Schiffer">
            <img class="speaker-img" src="img/speakers/jennschiffer.png" alt="Jenn Schiffer">
            <h3 class="speaker-name ratherloud-rebel">Jenn Schiffer</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#lindasandvik" title="Linda Sandvik">
            <img class="speaker-img" src="img/speakers/lindasandvik.png" alt="Linda Sandvik">
            <h3 class="speaker-name ratherloud-rebel">Linda Sandvik</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#mathiasbynens" title="Mathias Bynens">
            <img class="speaker-img" src="img/speakers/mathiasbynens.png" alt="Mathias Bynens">
            <h3 class="speaker-name ratherloud-rebel">Mathias Bynens</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#mikealrogers" title="Mikeal Rogers">
            <img class="speaker-img" src="img/speakers/mikealrogers.png" alt="Mikeal Rogers">
            <h3 class="speaker-name ratherloud-rebel">Mikeal Rogers</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#petergasston" title="Peter Gasston">
            <img class="speaker-img" src="img/speakers/petergasston.png" alt="Peter Gasston">
            <h3 class="speaker-name ratherloud-rebel">Peter Gasston</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#suzhinton" title="Suz Hinton">
            <img class="speaker-img" src="img/speakers/suzhinton.png" alt="Suz Hinton">
            <h3 class="speaker-name ratherloud-rebel">Suz Hinton</h3>
          </a>
        </li>
        <li class="speaker speaker-tba">
          <a class="speaker-link" href="/speakers" title="">
            <img class="speaker-img" src="img/speakers/skull-n.svg" alt="">
            <h3 class="speaker-name ratherloud-rebel rebelwithalongname">…and 6 more speakers tba!</h3>
          </a>
        </li>
      </ul>
   </div>
</div> <!-- /floor -->

<div class="floor">
   <div class="inner">
     <div class="gridone gridone-a">
        <div class="chunk chunk-openmic c2">
           <a href="/openmic" title="Open Mic" class="chunk-linkbox">
              <h2 class="ratherloud-heading c2">Open Mic Night</h2>
              <p>Come hang out the evening before the conference and say hello at this pre-party. We want *you* to <strong>submit a talk</strong>&nbsp;<span class="arr">➡</span></p>
           </a>
        </div>
     </div>
      <div class="gridone gridone-b">
         <div class="chunk chunk-sponsors c1">
            <a href="/sponsors/packages" title="Sponsors" class="chunk-linkbox">
               <h2 class="ratherloud-heading c1">Sponsors</h2>
               <p>Will your company help create the best Web Rebels ever?
               More on our <strong>sponsorship packages</strong>&nbsp;<span class="arr">➡</span></p>
            </a>
         </div>
      </div>
    <div class="gridone gridone-a">
       <div class="chunk c0">
          <a href="http://oslo.nodeconf.com/" title="NodeConf ONE-SHOT" class="chunk-linkbox">
             <h2 class="ratherloud-heading c0">NodeConf ONE-SHOT</h2>
             <p>But, wait! There’s more!! The day <em>after</em> the conference, we have a side event for you.
             Saturday 23 May you can attend <strong>ONE-SHOT Oslo</strong>&nbsp;<span class="arr">➡</span>
             </p>
          </a>
       </div>
    </div>
     <div class="gridone gridone-b">
        <div class="chunk chunk-location c2">
           <a href="/location" title="Open Mic" class="chunk-linkbox">
              <h2 class="ratherloud-heading c2">Where’s what?</h2>
              <p>About the venue, getting to Oslo and finding your way around the city.
              Everything you need to know about <strong>location</strong>&nbsp;<span class="arr">➡</span></p>
           </a>
        </div>
     </div>
   </div>
</div> <!-- /floor -->