<article class="splash">
	<img class="logo-img" src="gfx/logo-webrebels.png" alt="Web Rebels">
	<h1>21-22 May 2015</h1>
	<p>Oslo, Norway</p>
    <p>Want to sponsor us? <br><a href="sponsors/packages">Check out our sponsorship options</a></p>
</article>