<div class="floor">
  <div class="inner">
    <div class="gridtwo video">
       <div class="chunk video-box"><img src="/img/rebels.jpg"></div>
    </div>
    <div class="gridone gridone-a">
        <div class="chunk c2">
           <a href="/videos" title="Schedule" class="chunk-linkbox">
              <h2 class="ratherloud-heading c2">Videos</h2>
              <p>Web Rebels 2015 is over and it was amazing! You can relive the moments by watching all the videos from this years conference.
              Check out the <strong>videos</strong>&nbsp;<span class="arr">➡</span></p>
           </a>
        </div>
    </div>
    <div class="gridone gridone-b">
        <div class="chunk chunk-sponsors c1">
           <a href="mailto:sponsors[ replace this bracket with a @]webrebels.org" title="Sponsor?" class="chunk-linkbox">
              <h2 class="ratherloud-heading c1">Sponsor 2016?</h2>
              <p>Next year it will be the 5th Web Rebels and naturally this will be a very very special edition of our conference. Want to help out?
              <strong>Send us a note about sponsoring 2016</strong>&nbsp;<span class="arr">➡</span></p>
           </a>
        </div>
    </div>
  </div>
</div> <!-- /floor -->

<div class="floor whereSpeakersHangOut">
  <div class="inner">
    <h2 class="visuallyhidden">Speakers</h2>
      <ul class="speakers">
        <li class="speaker">
          <a class="speaker-link" href="/speakers#barbarabermes" title="Barbara Bermes">
            <img class="speaker-img" src="img/speakers/barbarabermes.png" alt="Barbara Bermes">
            <h3 class="speaker-name ratherloud-rebel">Barbara Bermes</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#brianjbrennan" title="Brian J Brennan">
            <img class="speaker-img" src="img/speakers/brianjbrennan.png" alt="Brian J Brennan">
            <h3 class="speaker-name ratherloud-rebel">Brian J Brennan</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#brittanystoroz" title="Brittany Storoz">
            <img class="speaker-img" src="img/speakers/brittanystoroz.png" alt="Brittany Storoz">
            <h3 class="speaker-name ratherloud-rebel">Brittany Storoz</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#cjsilverio" title="C J Silverio">
            <img class="speaker-img" src="img/speakers/cjsilverio.png" alt="C J Silverio">
            <h3 class="speaker-name ratherloud-rebel">C J Silverio</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#christianjohansen" title="Christian Johansen">
            <img class="speaker-img" src="img/speakers/christianjohansen.png" alt="Christian Johansen">
            <h3 class="speaker-name ratherloud-rebel">Christian Johansen</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#daleharvey" title="Dale Harvey">
            <img class="speaker-img" src="img/speakers/daleharvey.png" alt="Dale Harvey">
            <h3 class="speaker-name ratherloud-rebel">Dale Harvey</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#davidrousset" title="David Rousset">
            <img class="speaker-img" src="img/speakers/davidrousset.png" alt="David Rousset">
            <h3 class="speaker-name ratherloud-rebel">David Rousset</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#fergusmcdowall" title="Fergus McDowall">
            <img class="speaker-img" src="img/speakers/fergusmcdowall.png" alt="Fergus McDowall">
            <h3 class="speaker-name ratherloud-rebel">Fergus McDowall</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#jennschiffer" title="Jenn Schiffer">
            <img class="speaker-img" src="img/speakers/jennschiffer.png" alt="Jenn Schiffer">
            <h3 class="speaker-name ratherloud-rebel">Jenn Schiffer</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#larsthansen" title="Lars Hansen">
            <img class="speaker-img" src="img/speakers/larsthansen.png" alt="Lars Hansen">
            <h3 class="speaker-name ratherloud-rebel">Lars Hansen</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#lindasandvik" title="Linda Sandvik">
            <img class="speaker-img" src="img/speakers/lindasandvik.png" alt="Linda Sandvik">
            <h3 class="speaker-name ratherloud-rebel">Linda Sandvik</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#maireadbuchan" title="Mairead Buchan">
            <img class="speaker-img" src="img/speakers/maireadbuchan.png" alt="Mairead Buchan">
            <h3 class="speaker-name ratherloud-rebel">Mairead Buchan</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#mathiasbynens" title="Mathias Bynens">
            <img class="speaker-img" src="img/speakers/mathiasbynens.png" alt="Mathias Bynens">
            <h3 class="speaker-name ratherloud-rebel">Mathias Bynens</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#matthewpodwysocki" title="Matthew Podwysocki">
            <img class="speaker-img" src="img/speakers/matthewpodwysocki.png" alt="Matthew Podwysocki">
            <h3 class="speaker-name ratherloud-rebel">Matthew Podwysocki</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#mikealrogers" title="Mikeal Rogers">
            <img class="speaker-img" src="img/speakers/mikealrogers.png" alt="Mikeal Rogers">
            <h3 class="speaker-name ratherloud-rebel">Mikeal Rogers</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#suzhinton" title="Suz Hinton">
            <img class="speaker-img" src="img/speakers/suzhinton.png" alt="Suz Hinton">
            <h3 class="speaker-name ratherloud-rebel">Suz Hinton</h3>
          </a>
        </li>
      </ul>
   </div>
</div> <!-- /floor -->

<div class="floor">
   <div class="inner">
     <div class="gridtwo">
        <div class="chunk chunk-about c0">
          <a href="/about" title="About the conference" class="chunk-linkbox">
             <h2 class="ratherloud-heading c0">All Web, All The Time</h2>
             <p>Web Rebels is <strong>a non-profit, community driven conference</strong>
             for everyone who loves developing applications and services using web technology.
             Two days, one track, 16 speakers, 150 attendees and a&nbsp;Code of Conduct.
             Go read more <strong>about the conference</strong>&nbsp;<span class="arr">➡</span>
             </p>
          </a>
       </div>

    </div>
   </div>
</div> <!-- /floor -->