<div class="floor">
  <div class="inner">
    <div class="gridone gridone-a">
       <div class="chunk chunk-location c1">
          <a href="/location" title="Location" class="chunk-linkbox">
             <h2 class="ratherloud-heading c1">Where’s what?</h2>
             <p>All activities happen within the same area of Grünerløkka.
              More&nbsp;about <strong> venue, transport to Oslo and&nbsp;finding a place to stay</strong>&nbsp;<span class="arr">➡</span></p>
          </a>
       </div>
    </div>
    <div class="gridone gridone-b">
        <div class="chunk chunk-openmic c2">
           <a href="/openmic" title="Open Mic" class="chunk-linkbox">
              <h2 class="ratherloud-heading c2">Open Mic Night</h2>
              <p>Come hang out the evening before the conference! We want <strong>*your* talk</strong> now!&nbsp;<span class="arr">➡</span></p>
           </a>
        </div>
    </div>

    <div class="gridtwo">
       <div class="chunk chunk-about c0">
          <a href="/about" title="About the conference" class="chunk-linkbox">
             <h2 class="ratherloud-heading c0">All Web, All The Time</h2>
             <p>Web Rebels is <strong>a non-profit, community driven conference</strong>
             for everyone who loves developing applications and services using web technology.
             Two days, one track, 16 speakers, 150 attendees and a&nbsp;Code of Conduct.
             Go read more <strong>about the conference</strong>&nbsp;<span class="arr">➡</span>
             </p>
          </a>
       </div>
    </div>

  </div>
</div> <!-- /floor -->

<div class="floor whereSpeakersHangOut">
  <div class="inner">
    <h2 class="visuallyhidden">Speakers</h2>
      <ul class="speakers">
        <li class="speaker">
          <a class="speaker-link" href="/speakers#barbarabermes" title="Barbara Bermes">
            <img class="speaker-img" src="img/speakers/barbarabermes.png" alt="Barbara Bermes">
            <h3 class="speaker-name ratherloud-rebel">Barbara Bermes</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#brianjbrennan" title="Brian J Brennan">
            <img class="speaker-img" src="img/speakers/brianjbrennan.png" alt="Brian J Brennan">
            <h3 class="speaker-name ratherloud-rebel">Brian J Brennan</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#brittanystoroz" title="Brittany Storoz">
            <img class="speaker-img" src="img/speakers/brittanystoroz.png" alt="Brittany Storoz">
            <h3 class="speaker-name ratherloud-rebel">Brittany Storoz</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#cjsilverio" title="C J Silverio">
            <img class="speaker-img" src="img/speakers/cjsilverio.png" alt="C J Silverio">
            <h3 class="speaker-name ratherloud-rebel">C J Silverio</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#daleharvey" title="Dale Harvey">
            <img class="speaker-img" src="img/speakers/daleharvey.png" alt="Dale Harvey">
            <h3 class="speaker-name ratherloud-rebel">Dale Harvey</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#davidrousset" title="David Rousset">
            <img class="speaker-img" src="img/speakers/davidrousset.png" alt="David Rousset">
            <h3 class="speaker-name ratherloud-rebel">David Rousset</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#fergusmcdowall" title="Fergus McDowall">
            <img class="speaker-img" src="img/speakers/fergusmcdowall.png" alt="Fergus McDowall">
            <h3 class="speaker-name ratherloud-rebel">Fergus McDowall</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#jennschiffer" title="Jenn Schiffer">
            <img class="speaker-img" src="img/speakers/jennschiffer.png" alt="Jenn Schiffer">
            <h3 class="speaker-name ratherloud-rebel">Jenn Schiffer</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#larsthansen" title="Lars Hansen">
            <img class="speaker-img" src="img/speakers/larsthansen.png" alt="Lars Hansen">
            <h3 class="speaker-name ratherloud-rebel">Lars Hansen</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#lindasandvik" title="Linda Sandvik">
            <img class="speaker-img" src="img/speakers/lindasandvik.png" alt="Linda Sandvik">
            <h3 class="speaker-name ratherloud-rebel">Linda Sandvik</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#maireadbuchan" title="Mairead Buchan">
            <img class="speaker-img" src="img/speakers/maireadbuchan.png" alt="Mairead Buchan">
            <h3 class="speaker-name ratherloud-rebel">Mairead Buchan</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#mathiasbynens" title="Mathias Bynens">
            <img class="speaker-img" src="img/speakers/mathiasbynens.png" alt="Mathias Bynens">
            <h3 class="speaker-name ratherloud-rebel">Mathias Bynens</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#mikealrogers" title="Mikeal Rogers">
            <img class="speaker-img" src="img/speakers/mikealrogers.png" alt="Mikeal Rogers">
            <h3 class="speaker-name ratherloud-rebel">Mikeal Rogers</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#petergasston" title="Peter Gasston">
            <img class="speaker-img" src="img/speakers/petergasston.png" alt="Peter Gasston">
            <h3 class="speaker-name ratherloud-rebel">Peter Gasston</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#suzhinton" title="Suz Hinton">
            <img class="speaker-img" src="img/speakers/suzhinton.png" alt="Suz Hinton">
            <h3 class="speaker-name ratherloud-rebel">Suz Hinton</h3>
          </a>
        </li>
        <li class="speaker speaker-tba">
          <a class="speaker-link" href="/speakers" title="">
            <img class="speaker-img" src="img/speakers/skull-n.svg" alt="">
            <h3 class="speaker-name ratherloud-rebel rebelwithalongname">…and 1 last speaker tba!</h3>
          </a>
        </li>
      </ul>
   </div>
</div> <!-- /floor -->

<div class="floor">
   <div class="inner">

       <div class="gridtwo">
       <div class="chunk c0">
          <a href="http://oslo.nodeconf.com/" title="NodeConf ONE-SHOT" class="chunk-linkbox">
             <h2 class="ratherloud-heading c0">NodeConf ONE-SHOT<img src="img/logo-nodeconf.png" style="height:100px;float:right"></h2>
             <p>But, wait! There’s more!! The day <em>after</em> the conference, we have a side event.
             Saturday 23 May you can attend <strong>ONE-SHOT Oslo</strong>&nbsp;<span class="arr">➡</span>
             </p>
          </a>
       </div>
    </div>

    <div class="gridone gridone-a">
       <div class="chunk chunk-tickets c1">
          <a href="/tickets" title ="Tickets" class="chunk-linkbox">
             <h2 class="ratherloud-heading c1">Sold out</h2>
             <p>The last batch is sold out and tickets for Web Rebels 2015 are now all gone.<br>
             <strong>More about tickets</strong>&nbsp;<span class="arr">➡</span>
             </p>
          </a>
       </div>
    </div>
     <div class="gridone gridone-b">
        <div class="chunk chunk-schedule c2">
           <a href="/schedule" title="Schedule" class="chunk-linkbox">
              <h2 class="ratherloud-heading c2">Schedule</h2>
              <p>Wednesday we warm up in the evening. Thursday and Friday are
              the two Web Rebels conference days. ONE-SHOT on Saturday.
              <strong>More schedule</strong>&nbsp;<span class="arr">➡</span></p>
           </a>
        </div>
     </div>
<!--
    <div class="gridtwo">
       <div class="chunk chunk-scholarship c3">
          <a href="/scholarship" title="Web Rebels Scholarship Programme" class="chunk-linkbox">
             <h2 class="ratherloud-heading c3">Web Rebels Scholarship Programme</h2>
             <p>This year, we are very happy to be able to offer scholarships to people from underrepresented groups
             wanting to attend the conference. It’s important to us that all members of the community should be included,
             also those who would normally be unable to attend for financial reasons.
             More <strong>about eligibility and how to apply</strong>&nbsp;<span class="arr">➡</span>
             </p>
          </a>
       </div>
    </div>
-->


   </div>
</div> <!-- /floor -->