<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>{{pageTitle}}</title>
    <meta name="description" content="Web Rebels is a non-profit, community driven conference for everyone who loves developing applications and services using web technology.">
    {{> analytics}}
    <link rel="stylesheet" href="/css/fold.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <script>document.createElement( "picture" );</script>
    <script async="true" defer="true" src="/js/app.js"></script>
</head>

{{> header}}

{{{body}}}

{{> footer}}

</body>
</html>