<div class="floor">
  <div class="inner-nrw">
<h1 class="ratherloud-heading">Open Mic Night - Wednesday 20 May</h1>
<p>Pre-conference party with <a href="/openmic">Open Mic</a> sessions at the <a href="http://vbarogbistro.no/">V Bar &amp; Restaurant</a>.
    During this evening you can exchange your ticket into the conference pass, giving you more time to focus on breakfast than queuing for access on Thursday morning. Nice eh?</p>
    {{> openmicschedule}}
    </div>
</div>