<div class="floor">
  <div class="inner-nrw">
<h1 class="ratherloud-heading">Open Mic Night – 20 May</h1>

<p>Wednesday evening we warm up with an open community event. This small pre-party takes place at
  <a href="http://vbarogbistro.no/">V Bar &amp; Restaurant</a>, next door to the <a href="/location">conference venue</a>.</p>
  
<ul>
   <li>open for everyone, no ticket needed</li>
   <li>hang out with speakers, attendees and other members of our community</li>
   <li>batches of 10 minute lightning talks</li>
   <li>have you got something to share? Submit a talk!</li>
</ul>

<div class="openmicform group">
<h2>Submit a talk for Open Mic Night!</h2>
<p>~10 minutes talks on any relevant topic. You can do slides, live code or just talk!</p>
{{# errors}}
<p style="color: black; background-color: #f2dede; padding: 15px;">{{msg}}</p>
{{/ errors}}
{{# success}}
<p style="color: black; background-color: #dff0d8; padding: 15px;">{{msg}}</p>
{{/ success}}
<form action="/api/v1/openmic" method="post">

        <label for="name" class="notsoloud">Full name</label>
        <input type="text" name="name" id="name" required>

        <label for="email" class="notsoloud">Email Address</label>
        <input type="email" name="email" id="email" required>

        <label for="description" class="notsoloud">Describe your talk</label>
        <textarea name="description" id="description" required></textarea>

        <input type="submit" class="btn">
</form>
</div>


<h3>Do I need a ticket to submit a talk?</h3>
No. Open Mic is an open community event which is open for everyone to attend and submit talks.</p>

<h3>What equipment is at the Open Mic venue?</h3>
There will be a projector, microphone and Wi-Fi available. If you don't have a device to do a presentation, let us know and we'll sort it out.</p>

<h3 class="ratherloud-heading">This is your chance to shine</h3>
<p>
  There is always a first time for everything. There is a
  first time for when you laid your hand on a keyboard, there
  is a first time for when you wrote "hello world," and there
  is a first time for when you released some code you wrote.
</p>
<p>
  We have picked some awesome rock stars to speak at Web
  Rebels. They are experienced in the art of public speaking.
  But: there was also a first time for them when they first
  spoke in public.
</p>
<p>
  When you see them up there on the stage they might look like
  gurus, but they are no different from everyone else. They
  sure are good in what they do, but they are only different
  in the fact that they have taken the step to speaking in
  public.
</p>
<p>
  Through organizing <a target="_blank" href="http://www.meetup.com/framsia/">meetups</a>
  on a regular basis and keeping our eyes open for what’s going
  on around us, we see so much cool stuff being done by not yet
  rock stars. You attendees know so much and create so much
  amazing stuff that we are regularly blown away. We think you
  should be given the chance to show off. But, yes, we know,
  that first step can be hard to take.
</p>
<p>
  So, we would like to create an environment where those who
  would love to try or take the first step towards public
  speaking can get a chance to do so during Web Rebels.
</p>

</div>
</div>
