<div class="floor">
  <div class="inner-nrw">
  <article>
    <h2 class="ratherloud-heading">Wednesday 20 May</h2>
<p>Pre-conference party with <a href="/openmic">Open Mic</a> sessions at the <a href="http://vbarogbistro.no/">V Bar &amp; Restaurant</a>.
        During this evening you can exchange your ticket into the conference pass, giving you more time to focus on breakfast than queuing for access on Thursday morning. Nice eh?</p>

        {{> openmicschedule}}

    <h2 class="ratherloud-heading">Thursday 21 May</h2>
    <p>Welcome to the 1st conference day, with 8 talks starting at 09:00 – and dinner at 17:00.</p>

<table class="schedule">
  <tr class="schedule-break">
    <th>08:00</th>
    <td>
      <h3>Registration and breakfast</h3>
      <p><span class="rwd-line">As the tradition goes, no need for that hotel breakfast! </span>
         Join us for a Rebel breakfast instead.</p>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>09:00</th>
    <td>
      <a href="/speakers#barbarabermes" class="schedule-link">
        <h3>Barbara Bermes</h3>
        <p>Third Party Footprint: Evaluating the Performance of External Scripts</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>09:45</th>
    <td>
      <a href="/speakers#brianjbrennan" class="schedule-link">
        <h3>Brian J Brennan</h3>
        <p>Ladies and Gentlemen We Are Floating in Cyberspace</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-break">
    <th>10:30</th>
    <td>
      <p>Coffee/tea break</p>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>11:00</th>
    <td>
      <a href="/speakers#brittanystoroz" class="schedule-link">
        <h3>Brittany Storoz</h3>
        <p>Intelligent Design: Application Architecture of the Human Body</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>11:45</th>
    <td>
      <a href="/speakers#jennschiffer" class="schedule-link">
        <h3>Jenn Schiffer</h3>
        <p>Who Visualized the Bomp?</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-break">
    <th>12:30	</th>
    <td>
      <p>Lunch</p>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>13:30</th>
    <td>
      <a href="/speakers#daleharvey" class="schedule-link">
        <h3>Dale Harvey</h3>
        <p>The Native Web</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>14:15</th>
    <td>
      <a href="/speakers#fergusmcdowall" class="schedule-link">
        <h3>Fergus McDowall</h3>
        <p>An introduction to search-index.js</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-break">
    <th>15:00</th>
    <td>
      <p>Coffee/tea break</p>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>15:30</th>
    <td>
      <a href="/speakers#mikealrogers" class="schedule-link">
        <h3>Mikeal Rogers</h3>
        <p>Rules for Rebels</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>16:15</th>
    <td>
      <a href="/speakers#christianjohansen" class="schedule-link">
        <h3>Christian Johansen</h3>
        <p>Immutable JavaScript</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-break">
    <th>17:00	</th>
    <td>
      <p>Conference dinner and social gathering – right next door to the venue.</p>
    </td>
  </tr>
</table>

    <h2 class="ratherloud-heading">Friday 22 May</h2>
    <p>Conference day #2, with 8 more talks starting at 09:00.</p>

<table class="schedule">
  <tr class="schedule-break">
    <th>08:00</th>
    <td>
      <h3>Breakfast</h3>
      <p>Full beakfast to help you get ready for an action packed day!</p>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>09:00</th>
    <td>
      <a href="/speakers#mathiasbynens" class="schedule-link">
        <h3>Mathias Bynens</h3>
        <p>JavaScript ♥ Unicode</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>09:45</th>
    <td>
      <a href="/speakers#larsthansen" class="schedule-link">
        <h3>Lars Hansen</h3>
        <p>Shared-memory multicore computation in JavaScript</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-break">
    <th>10:30</th>
    <td>
      <p>Coffee/tea break</p>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>11:00</th>
    <td>
      <a href="/speakers#cjsilverio" class="schedule-link">
        <h3>C J Silverio</h3>
        <p>Cheating Gall’s Law</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>11:45</th>
    <td>
      <a href="/speakers#davidrousset" class="schedule-link">
        <h3>David Rousset</h3>
        <p>Creating immersive 3D and audio web experiences with Babylon.js</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-break">
    <th>12:30</th>
    <td>
      <p>Lunch</p>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>13:30</th>
    <td>
      <a href="/speakers#suzhinton" class="schedule-link">
        <h3>Suz Hinton</h3>
        <p>Babbling with the merfolk: between the layers of JavaScript hardware</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>14:15</th>
    <td>
      <a href="/speakers#maireadbuchan" class="schedule-link">
        <h3>Mairead Buchan</h3>
        <p>VR in the browser with Leap motion and Google cardboard</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-break">
    <th>15:00</th>
    <td>
      <p>Coffee/tea break</p>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>15:30</th>
    <td>
      <a href="/speakers#lindasandvik" class="schedule-link">
        <h3>Linda Sandvik</h3>
        <p>Raising the next generation of rebels</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-talk">
    <th>16:15</th>
    <td>
      <a href="/speakers#matthewpodwysocki" class="schedule-link">
        <h3>Matthew Podwysocki</h3>
        <p>Async Programming at Netflix</p>
      </a>
    </td>
  </tr>
  <tr class="schedule-break">
    <th>17:00</th>
    <td>
      <p>Group photo</p>
    </td>
  </tr>
</table>

    <h2 class="ratherloud-heading">Saturday 23 May</h2>
   <p>But, wait! There’s more!! The day after the conference, we have a side event for you. <strong>Saturday&nbsp;10:00–18:00</strong> you can attend <a href="http://oslo.nodeconf.com/">NodeConf ONE-SHOT</a> in Oslo.</p>

  </article>

  </div>
</div>