<div class="floor">
  <div class="inner-nrw">
  <p>Full schedule TBA but this is what we know so far:</p>
  <article>
    <h2 class="ratherloud-heading">Wednesday 20 May</h2>
    <p>We warm up with <a href="./openmic">Open Mic Night</a> in the evening. This is an informal pre-party with 10 minute lightning talks and an excellent time to pick up your conference pass.</p>
    
    <h2 class="ratherloud-heading">Thursday 21 May</h2>
    <p>Conference day #1 – Registration and breakfast from 08.00. Talks from 09.00. Dinner and party at 17.00. Full schedule with hours and details on 8 talks TBA.</p>
    
    <h2 class="ratherloud-heading">Friday 22 May</h2>
    <p>Conference day #2 – Breakfast from 08.00. Talks from 09.00. Full schedule with hours and details on 8 talks TBA. (The official program ends after the group photo around 17.00, but attendees have been known to hang out after the conference.)</p>
    
    <h2 class="ratherloud-heading">Saturday 23 May</h2>
   <p>But, wait! There’s more!! The day after the conference, we have a side event for you. <strong>Saturday&nbsp;10:00–18:00</strong> you can attend <a href="http://oslo.nodeconf.com/">NodeConf ONE-SHOT</a> in Oslo.</p>

  </article>

  </div>
</div>