<div class="floor">
  <div class="inner-nrw">
    <h1 class="ratherloud-heading">Scholarship Programme</h1>
    <p>
      Web Rebels is a conference organised by and for the community,
      and it's important to us that all members of the community
      should be included, also those who would normally be unable to
      attend for financial reasons. We're very happy to be able to
      offer <em>The Web Rebels Scholarship Programme</em> to offer financial
      aid to people from underrepresented groups wanting to attend the
      conference.
    </p>
    <h2>Thanks to our scholarship sponsors</h2>
    <p>The Scholarship program would not be possible without the help of our Scholarship sponsors:
  </div>
</div>


<div class="floor">
  <div class="inner-wide">
    <ul class="sponsors group">
      <li><a href="http://www.finn.no/" title="Finn.no"><img src="/img/sponsors/finn.png" alt="Finn.no"></a></li>
      <li><a href="http://bocoup.com/" title="Bocoup"><img src="/img/sponsors/bocoup.png" alt="Bocoup"></a></li>
      <li><a href="https://twitter.com/leftieFriele" title="leftieFriele"><img src="/img/sponsors/leftiefriele.png" alt="leftieFriele"></a></li>
      <li><a href="http://www.knowit.no/" title="Knowit Norge"><img src="/img/sponsors/knowit.png" alt="Knowit"></a></li>
    </ul>
  </div>
</div>


<div class="floor">
  <div class="inner-nrw">
    <p>Companies can contribute by buying the <a href="/sponsors/packages#scholarship">Scholarship Ticket</a> package.</p>
    <a name="eligibility"></a>
    <h2>Eligibility</h2>
    <p>
      Scholarships are primarily intended to assist people from groups
      traditionally underrepresented in the local developer community,
      including women, people of non-Scandinavian descent and people
      with disabilities. However, we wouldn't presume to be able to
      provide a complete list of underrepresented groups, so all
      applications will be considered. Eligibility ultimately depends
      on the discretion of the selection committee.
    </p>
    <a name="selection"></a>
    <h2>Selection</h2>
    <p>
      All applications will be reviewed by the selection committee,
      and will be accepted at their discretion, although selection
      will primarily favour diversity concerns and financial need. All
      information provided to the committee will be kept strictly
      confidential.
    </p>
    <a name="award"></a>
    <h2>Award</h2>
    <p>
      Selected applicants will receive a fully paid ticket for the
      conference, and may also apply for travel and lodging
      assistance, although our ability to offer this will be more
      limited.
    </p>
    <a name="award"></a>
    <h2>Application period is over</h2>
    <p>
      The Scholarships application period is over and all applicants will be notified via email by March 27th. If your application is accepted,
      you will receive your conference registration details and other
      relevant information along with the notification.
    </p>    
    <!--
    <p>
      You can apply by completing the form by March 20th.
    </p>
    <div class="openmicform group">
    <h2>Apply for Web Rebels Scholarship</h2>
    {{# errors}}
    <p style="color: black; background-color: #f2dede; padding: 15px;">{{msg}}</p>
    {{/ errors}}
    {{# success}}
    <p style="color: black; background-color: #dff0d8; padding: 15px;">{{msg}}</p>
    {{/ success}}
    <form action="/api/v1/scholarship" method="post">

            <label for="name" class="notsoloud">Full name</label>
            <input type="text" name="name" id="name" required>

            <label for="email" class="notsoloud">Email Address</label>
            <input type="email" name="email" id="email" required>

            <label for="country" class="notsoloud">Country</label>
            <input type="country" name="country" id="country" required>

            <label for="application" class="notsoloud">Application</label>
            <textarea name="application" id="application" rows="4" required></textarea>

            <input type="submit" class="btn">
    </form>
    </div>
    <p>
      All applicants will be notified via email by
      March 27th. If your application is accepted,
      you will receive your conference registration details and other
      relevant information along with the notification.
    </p>
    -->
    <h2>Questions?</h2>
    <p>
      If you have further questions about the Scholarship Programme,
      please contact <a href="mailto:scholarships@webrebels.org">scholarships@webrebels.org</a>.
    </p>
  </div>
</div>
