<div class="floor">
  <div class="inner-nrw">

<h1 class="ratherloud-heading">Meet our speakers!</h1>
<p>Two days, one track, 16 speakers with 16 talks! So far we have announced the names below, with more speakers – and info about their talks – on the way.</p>

<ul class="rebels">
  <li class="group">
    <div class="rebel-bio">
      <a name="barbarabermes"></a>
      <img class="rebel-img" src="/img/rebels/barbarabermes.jpg" alt="Barbara Bermes">
      <h3 class="rebel-name ratherloud-rebel">Barbara Bermes</h3>
      <p><a href="http://twitter.com/bbinto">Barbara</a> oversees the development of OANDA’s next-generation APIs. She acts as the internal and external evangelist for the API product suite as well as OANDA’s developer community. Prior to joining OANDA, Barbara worked as senior architect and performance advocate at the Canadian Broadcasting Corporation (CBC) where she focused on mobile web development and performance optimization. She holds an honours BSc from the Bonn-Rhein-Sieg University of Applied Sciences, Germany.</p>
      <p>Barbara is an international speaker, a book author, a contributor to jsmanners and the organizer of the Toronto Web Performance Meetup Group.</p>
    </div>
  </li>
  <li class="group">
    <div class="rebel-bio">
      <a name="brianjbrennan"></a>
      <img class="rebel-img" src="/img/rebels/brianjbrennan.jpg" alt="Brian J Brennan">
      <h3 class="rebel-name ratherloud-rebel">Brian J Brennan</h3>
         <p>First and foremost an amateur cat photographer, Brian’s second passion
         is music. After a short stint as a college radio DJ, Brian taught
         himself to play bass and in the last 10 years has played for a handful
         of bands of varying notoriety. His most recent project, a shoegaze
         band out of Brooklyn called Eastern Hollows, is planning to release
         their second full length in the summer of 2015.</p>
         
         <p>When not playing music Brian tries his best to make a positive
         contribution the New York developer community as a co-founder and
         organizer of BrooklynJS, a monthly user group featuring talks, musical
         performance and terrible jokes.
      </p>
    </div>
  </li>
  <li class="group">
    <div class="rebel-bio">
      <a name="brittanystoroz"></a>
      <img class="rebel-img" src="/img/rebels/brittanystoroz.jpg" alt="Brittany Storoz">
      <h3 class="rebel-name ratherloud-rebel">Brittany Storoz</h3>
         <p>Brittany is a Senior Engineer at Mozilla, working to ease developer
         struggles with modern app development. She believes in life, liberty and
         the pursuit of happiness, and has been known to pick up pencils with her
         toes. She also writes a lot of JavaScript.</p>

         <h3 class="ratherloud-heading c3">Intelligent Design:
         Application Architecture of the Human Body</h3>
         <p>Over time, we've developed solid conventions and best practices for
         building our applications with a sustainable architecture. We've
         explained them in writing and highlighted them in demonstrative apps,
         but the most exemplary instance of application architecture will not be
         found in the pages of a book or code in a text editor.</p>
         <p>Rather, it's found in the modularity of our organs. It's found in the
         speed of complex communication between our brains and our bodies. It's
         found in the processes like breathing and blinking that run seamlessly
         in our backgrounds.</p>
         <p>Our bodies consistently demonstrate the best practices and patterns we
         aim for in our software every day. Let's investigate how our biology
         makes the most irrefutable case for the designs we've come to value in
         application development.</p>
         </div>
  </li>


  <li class="group">
    <div class="rebel-bio">
      <a name="cjsilverio"></a>
      <img class="rebel-img" src="/img/rebels/cjsilverio.jpg" alt="C J Silverio">
      <h3 class="rebel-name ratherloud-rebel">C J Silverio</h3>
      <p>C J Silverio has worked for many Silicon Valley startups, writing everything from smart cellphone apps to web servers to user interface design to in browser web apps, with a recent focus on node.js services. She currently leads dev/ops for npm Inc.
      </p>
      <h3 class="ratherloud-heading c3">Cheating Gall’s Law</h3>
      <p>Or, how we split a monolith and lived to tell the tale.<br> 
      This is the story of how npm replaced its monolithic registry service with
      microservices. We rolled out the registry without any users noticing
      this huge change behind the scenes. How did we manage this? What did we
      mess up? What can you learn from our experience?
      </p>      
    </div>
  </li>
  <li class="group">
    <div class="rebel-bio">
      <a name="daleharvey"></a>
      <img class="rebel-img" src="/img/rebels/daleharvey.jpg" alt="Dale Harvey">
      <h3 class="rebel-name ratherloud-rebel">Dale Harvey</h3>
      <p>Dale is a senior developer on the Firefox OS project for Mozilla, a long time CouchDB contributor, PouchDB maintainer and is generally interested in working on Open Source and the Open Web.</p>
    </div>
  </li>
  <li class="group">
    <div class="rebel-bio">
      <a name="davidrousset"></a>
      <img class="rebel-img" src="/img/rebels/davidrousset.jpg" alt="David Rousset">
      <h3 class="rebel-name ratherloud-rebel">David Rousset</h3>
      <p>David is a Senior Program Manager working for Microsoft Corp, in charge
         of driving adoption of HTML5 standards. He’s speaking in several famous
         web conferences such as Paris Web, CodeMotion, ReasonsTo or jQuery UK.
         He’s the co-author of the WebGL Babylon.js open-source engine. Read his
         <a href="http://blogs.msdn.com/davrous">blog on MSDN</a> or follow <a href="https://twitter.com/davrous">him on Twitter</a>.
      </p>
    </div>
  </li>
  <li class="group">
    <div class="rebel-bio">
      <a name="fergusmcdowall"></a>
      <img class="rebel-img" src="/img/rebels/fergusmcdowall.jpg" alt="Fergus McDowall">
      <h3 class="rebel-name ratherloud-rebel">Fergus McDowall</h3>
      <p>Fergus is a senior consultant at Comperio who likes to make stuff in JavaScript. He is the author of Norch, Search-Index, and many other songs of code. A co-founder of The Oslo Bike Kitchen, he can often be found taking things apart and putting them back together again.</p>
    </div>
  </li>
  <li class="group">
    <div class="rebel-bio">
      <a name="jennschiffer"></a>
      <img class="rebel-img" src="/img/rebels/jennschiffer.jpg" alt="Jenn Schiffer">
      <h3 class="rebel-name ratherloud-rebel">Jenn Schiffer</h3>
      <p><a href="http://jennmoney.biz/">Jenn Schiffer</a> is an open web engineer at Bocoup who creates art, and tools facilitating the creation and learning of art, using code and other aspects of technology.</p>
    </div>
  </li>
  <li class="group">
    <div class="rebel-bio">
      <a name="larsthansen"></a>
      <img class="rebel-img" src="/img/rebels/larsthansen.jpg" alt="Lars Hansen">
      <h3 class="rebel-name ratherloud-rebel">Lars Hansen</h3>
      <p>Lars has worked on Javascript engines for many years — at Opera, at Adobe, and now at Mozilla, 
      where he works on shared-memory and multicore technologies for JS and asm.js.
      </p>
    </div>
  </li>
  <li class="group">
    <div class="rebel-bio">
      <a name="lindasandvik"></a>
      <img class="rebel-img" src="/img/rebels/lindasandvik.jpg" alt="Linda Sandvik">
      <h3 class="rebel-name ratherloud-rebel">Linda Sandvik</h3>
      <p>Linda Sandvik is a Knight-Mozilla OpenNews fellow at the Guardian, a creative technologist and proto-MacGyver who likes to make things that inform, educate, and empower people and communities. She previously worked in local government and at Last.fm, and co-founded Code Club. Her particular interests lie in using play and technology to help people discover their natural affinity for teaching themselves new things. She has a passion for open data, open knowledge, and serious games.
      </p>
    </div>
  </li>
  <li class="group">
    <div class="rebel-bio">
      <a name="maireadbuchan"></a>
      <img class="rebel-img" src="/img/rebels/maireadbuchan.jpg" alt="Mairead Buchan">
      <h3 class="rebel-name ratherloud-rebel">Mairead Buchan</h3>
      <p>Mairead is a creative web developer, based in London, specialising in
exciting interactive experiences and interested in any technology that
pushes the boundaries of web development. She specialises in Front End
web development technologies, JavaScript, Responsive, Mobile and UI
interactions. Mairead is a designer as well as a developer, when not
making web applications she likes to make other things: Costume design,
Set design, Game design and other toys.</p>
    </div>
  </li>
  <li class="group">
    <div class="rebel-bio">
      <a name="mathiasbynens"></a>
      <img class="rebel-img" src="/img/rebels/mathiasbynens.jpg" alt="Mathias Bynens">
      <h3 class="rebel-name ratherloud-rebel">Mathias Bynens</h3>
      <p>Mathias is a Belgian web standards freak. He likes HTML, CSS, JavaScript, Unicode, performance, and security. At Opera Software he’s a member of the Developer Relations team.</p>
      <h3 class="ratherloud-heading c3">JavaScript&nbsp;<span class="c1">♥</span>&nbsp;Unicode</h3>
      <p>
      In this talk we’ll take a look at the various ways JavaScript relies
      on Unicode, what the consequences are for JavaScript developers
      wishing to support full Unicode, and how the upcoming ECMAScript 6 (or
      ES 2015 as it’s being called nowadays) will improve this.
      </p>      
    </div>
  </li>
  <li class="group">
    <div class="rebel-bio">
      <a name="mikealrogers"></a>
      <img class="rebel-img" src="/img/rebels/mikealrogers.png" alt="Mikeal Rogers">
      <h3 class="rebel-name ratherloud-rebel">Mikeal Rogers</h3>
      <p>Mikeal is a JS Community Organizer, director of Evangelism at DigitalOcean and a creator/curator of NodeConf & JSFest.</p>    
    </div>
  </li>
  <li class="group">
    <div class="rebel-bio">
      <a name="petergasston"></a>
      <img class="rebel-img" src="/img/rebels/petergasston.jpg" alt="Peter Gasston">
      <h3 class="rebel-name ratherloud-rebel">Peter Gasston</h3>
      <p>Peter is a veteran web developer who now works as a technologist and front-end lead at rehabstudio on projects for clients including Google and Red Bull, and in partnership with some of the world’s biggest creative agencies. He’s the author of The Book of CSS3 and The Modern Web, and has written for Net Magazine, Smashing Magazine and A List Apart. In his spare time he “relaxes” by reading voraciously, supporting
Arsenal, and day trips to castles.</p>    
    </div>
  </li>
  <li class="group">
    <div class="rebel-bio">
      <a name="suzhinton"></a>
      <img class="rebel-img" src="/img/rebels/suzhinton.jpg" alt="Suz Hinton">
      <h3 class="rebel-name ratherloud-rebel">Suz Hinton</h3>
      <p>Suz Hinton is a JavaScript developer who likes to tinker with hardware. A maker at heart, she’s no stranger to minor burns from soldering irons and 3D printers. She's a regular contributor to the open source Node.js electronics scene, and enjoys teaching others how to immerse themselves in the nerdiverse.</p>
    </div>
  </li>
</ul>

  </div>
</div>