<div class="floor">
  <div class="inner-nrw">

<h1 class="ratherloud-heading">Sponsorship Packages</h1>
<p>Want to help us create the best ever Web Rebels? <a href="#signup">Let us know</a>!</p>
<p>The Web Rebels Conference has a set of exclusive sponsorship packages which provide you with different options for contributing as a sponsor. Please note that there is a limited number of sponsorship packages available, so do not take too long to decide! </p>
<img src="/img/spons-2.jpg">

<h2 class="ratherloud-heading">Exclusive packages</h2>
<a name="openmic"></a>
<h3>Open Mic Night</h3>
<p>Be the exclusive sponsor of this pre-event which takes place the day before the conference where anyone can do a talk.
You’ll be the only sponsor for this event with options to have promotion materials at the venue</p>
<ul>
  <li>28 000 NOK</li>
  <li>1 ticket</li>
</ul>

<a name="breakfast"></a>
<h3>Breakfast</h3>
<p>You can sponsor the lovely breakfast we'll be serving everyone each morning. Your brand could be there greeting the Rebels!</p>
<ul>
  <li>60 000 NOK</li>
  <li>3 tickets</li>
</ul>

<a name="lunch"></a>
<h3>Lunch</h3>
<p>Everyone attending the conference get a prepaid cards to use in the magnificent <a href="http://mathallen.no" target="_new">Mathallen</a>. You can have your company name on them as our exclusive Lunch sponsor.</p>
<ul>
  <li>60 000 NOK</li>
  <li>3 tickets</li>
</ul>

<a name="chill"></a>
<h3>Chill out</h3>
<p>After the first day we gather everyone for some dinner and a social gathering. The Chill out sponsor will have exclusive rights to sponsoring this event.</p>
<ul>
  <li>60 000 NOK</li>
  <li>3 tickets</li>
</ul>

<a name="coffee"></a>
<h3><strike>Coffee</strike> (SOLD)</h3>
<p>We love coffee and we want the best possible coffee for those attending. Help us make this happen by being our Barista sponsor!</p>
<ul>
  <li>40 000 NOK</li>
  <li>2 tickets</li>
</ul>
<img src="/img/spons-1.jpg">

<h2 class="ratherloud-heading">Standard packages</h2>
<p>In addition to the these exclusive sponsorship packages we have standard packages available for sponsors. </p>

<a name="tier1"></a>
<h2>Tier 1 / 28 000 NOK</h2>
<ul>
  <li>Logo on website</li>
  <li>Mention in opening and closing talks</li>
  <li>Displayed logo during breaks</li>
  <li>Logo displayed in online videos</li>
  <li>1 ticket</li>
</ul>

<a name="tier2"></a>
<h2>Tier 2 / 38 000 NOK</h2>
<p>All of the above plus:</p>
<ul>
  <li>Flag / banner inside the conference venue (provided by you)</li>
  <li>Logo lanyard (provided by you)</li>
  <li>Mention in social media</li>
</ul>

<a name="tier3"></a>
<h2>Tier 3 / 60 000 NOK</h2>
<p>All of the above plus:</p>
<ul>
  <li>Stands / booth</li>
  <li>2 extra tickets (3 in total at this tier)</li>
</ul>


<a name="signup"></a>
<h3>Sounds interesting? Want to contribute?</h3>

<p>If you have any questions, please do not hesitate to contact us by phone (Espen Dalløkken, +47 41 52 88 62) or <a href="mailto:sponsors[ replace this bracket with a @]webrebels.org">email</a>. We will answer all questions and take any feedback into consideration.</p>

<p>Please note, that as a sponsor you must act according to our <a href="http://jsconf.com/codeofconduct.html">Code of Conduct</a>.</p>

</article>

</div>
</div>
