{{> head}}
<article class="splash">
	<img class="logo-img" src="../../img/logo-webrebels.png" alt="Web Rebels">
	<h1>Sponsorship Packages</h1>
	<p>Want to help us create the best ever Web Rebels?</p>
	<p><!-- Check out our <a href="https://drive.google.com/file/d/0B8ilDrOywuWVQTQ2Vjl4NEpueTQ/view">sponsorship packages</a> -->

The Web Rebels Conference has a set of sponsorship packages which we hope provide you
with a good options as to how you want to contribute as a sponsor. Please note that there is a
limited number of sponsorship packages available for all tiers, so do not take too long to
decide.</p>

	<p><a href="mailto:sponsors[ replace this bracket with a @]webrebels.org">contact us</a> to get on board or with any questions you might have.</p>
</article>
{{> footer}}