<div class="floor">
  <div class="inner-nrw">
<article class="sponsorpackages">
	<img class="logo-img" src="../../gfx/logo-webrebels.png" alt="Web Rebels">
	<h1>Sponsorship Packages</h1>
	<p>Want to help us create the best ever Web Rebels?</p>
	<p><!-- Check out our <a href="https://drive.google.com/file/d/0B8ilDrOywuWVQTQ2Vjl4NEpueTQ/view">sponsorship packages</a> -->

The Web Rebels Conference has a set of sponsorship packages which we hope provide you
with a good options as to how you want to contribute as a sponsor. Please note that there is a
limited number of sponsorship packages available for all tiers, so do not take too long to
decide.</p>

<h2>Tier 1 / 28 000 NOK</h2>
<ul>
  <li>Logo on website</li>
  <li>Mention in opening and closing talks</li>
  <li>Displayed logo during breaks</li>
  <li>Logo displayed in online videos</li>
  <li>1 ticket</li>
</ul>

<h2>Tier 2 / 38 000 NOK</h2>
<p>All of the above plus:</p>
<ul>
  <li>Flag / banner inside the conference venue (provided by you)</li>
  <li>Logo lanyard (provided by you)</li>
  <li>Mention in social media</li>
</ul>

<h2>Tier 3 / 60 000 NOK</h2>
<p>All of the above plus:</p>
<ul>
  <li>Stands / booth</li>
  <li>2 extra tickets (3 in total at this tier)</li>
</ul>

<p>In addition to the regular sponsorship packages we want to provide sponsors with other
options for marketing their brand by helping us with some specifics related to the conference.
These are exclusive packages only available to one sponsor.</p>

<h2>Open Mic Night / 25 000 NOK</h2>
<p>Be the exclusive sponsor of this pre-event which takes
place the day before the conference where anyone can do a talk.
You’ll be the only sponsor for this event with options to
have promotion materials at the venue.</p>

<p>If you have any questions, please do not hesitate to contact us by phone (Espen Dalløkken, +47 41 52 88 62) or <a href="mailto:sponsors[ replace this bracket with a @]webrebels.org">email</a>. We will answer all questions and take any feedback into consideration.</p>

<p>Please note, that as a sponsor you must act according to our <a href="http://jsconf.com/codeofconduct.html">Code of Conduct</a>.</p>

</article>

</div>
</div>