{{> head}}
<article class="splash">
	<img class="logo-img" src="../../img/logo-webrebels.png" alt="Web Rebels">
	<h1>Sponsorship Packages</h1>
	<p>Want to help us create the best ever Web Rebels?</p>
	<p>Check out our <a href="https://drive.google.com/file/d/0B8ilDrOywuWVQTQ2Vjl4NEpueTQ/view">sponsorship packages</a></p>
<!--
	Enable when we have design in place

	<table>
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Contents</th>
			<th>Price</th>
			<th>Tickets</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Tier 1</td>
			<td>
				<ul>
					<li>Logo on website</li>
					<li>Mention in opening and closing talks</li>
					<li>Displayed logo during breaks</li>
					<li>Logo displayed in online videos</li>
				</ul>
			</td>
			<td>28 000 NOK</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Tier 2</td>
			<td>
				<ul>
					<li>Flag / banner  inside the conference venue (provided by you)</li>
					<li>Logo lanyard (provided by you)</li>
					<li>Mention in social media</li>
				</ul>
			</td>
			<td>38 000 NOK</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Tier 3</td>
			<td>
				<ul>
					<li>Stands / booth</li>
				</ul>
			</td>
			<td>60 000 NOK</td>
			<td>3</td>
		</tr>
	</tbody>
	</table>
-->
	<p><a href="mailto:sponsors[ replace this bracket with a @]webrebels.org">contact us</a> to get on board or with any questions you might have.</p>
</article>
{{> footer}}