<div class="floor">
  <div class="inner-nrw">
  
  <h1 class="ratherloud-heading">Our partners and sponsors</h1>
  <p>Without the participation of our amazing sponsors, our conference would never be possible. They are the ones who enable us to provide you with awesome speakers at a great venue at an affordable price. We love them and so should you, so please check them out and show them some love!</p>
  
  <h2>Barista Sponsors - Mandrill</h2>
  <p><img align="right" src="/img/sponsors/mandrill.png"><a href="mandrillapp.com">Mandrill</a> is an reliable, scalable, and secure email infrastructure service that's easy to set up and integrate with existing apps. It’s really fast, too. With servers all over the world, we can deliver your email in milliseconds. Our detailed delivery reports, advanced analytics, and friendly interface mean your entire team—from developers to marketers—can easily monitor and evaluate email performance. Join the more than 375,000 customers who are already using Mandrill.</p>

  <p>Do you want to help create the best Web Rebels ever? More on our <a href="/sponsors/packages">sponsorship packages ➡</a></p>

  </div>
</div>