<div class="floor">
  <div class="inner-nrw">
<h1 class="ratherloud-heading">Tickets</h1>
<p>A ticket for Web Rebels 2015 will cost <strong><a href="https://www.google.no/search?q=nok+3300+euro">NOK 3300,-</a></strong> and they go on sale in batches.</p>
<h2 class="ratherloud-heading c2">Mark your calendars!</h2>
<ul>
<li>1st batch: Friday <strong>13th</strong> February</li>
<li>2nd batch: Friday <strong>20th</strong> February</li>
<li>3rd batch: Friday <strong>27th</strong> February</li>
</ul>

<h2 class="ratherloud-heading c1">Set your alarms!</h2>

<p>If last year is anything to go by, we sell out fast. The tickets will be released from Eventbrite at precisely <strong>13:00 CET</strong>.
Watch this space – and be ready when the clock strikes 13:00 here in Oslo.
</p>

<!--iframe  src="https://www.eventbrite.com/tickets-external?eid=10355388245&ref=etckt" frameborder="0" height="250" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe-->

<article>
  <h2>We take care of you</h2>
  <p>As a Web Rebel attendee, you are our guest and we pride ourself in taking care of you. Our goal is to provide as much value as possible for the price of the ticket.</p>

  <h2>Your ticket includes</h2>
  <ul>
    <li>two conference days with 16 awesome talks</li>
    <li>a prepaid card to choose your own <strong>lunch</strong> at Mathallen</li>
    <li>a steady stream of <strong>coffee and tea</strong> all day</li>
    <li>full buffet <strong>breakfast</strong> both Thursday and Friday</li>
    <li>entrance to the <strong>conference party</strong> Thursday evening</li>
    <li>full <strong>dinner</strong> at the party Thursday</li>
    <li>a decent amount of <strong>free beverages</strong> during the party</li>
  </ul>

  <p>Wednesday you need to feed yourself upfront, and you buy what you want from the bar during <a href="./openmic">Open&nbsp;Mic</a>. But this is the exception! All other days: we make sure <strong>you will not go hungry</strong>. Or&nbsp;thirsty. Or run any risk of decaffeination during the talks.</p>

</article>

</div>
</div>