<div class="floor">
  <div class="inner-nrw">
<h1 class="ratherloud-heading">Thank you for registering!</h1>
<p>We are really excited about you coming to our conference!<br>If there is anything you're wondering about or need help with in relation to your stay in Oslo, please just <a href="mailto:santaslittlehelpers[replace with @]webrebels.org">let us know</a> and we will try to help you.<br>
If you're new to our lovely city you should check out our <a href="/oslo/">Oslo Survival Guide</a>.<br>
If you want to bring your family, look at our <a href="/family">Family guide</a> for tips and other practical information.
</p>
<h3>Need a hotel?</h3>
<p>Right next to the venue is the conference hotel <a href="http://www.scandichotels.com/dlredirect?NC= D000031360&DLPAGEID=23711&cmpid=cc_channelshift">the Scandic Hotel Vulkan</a>. Slip them this promo code and get a discount on their regular prices: <strong>D000031360</strong></p>
<h3>Go electronic, save the trees</h3>
<p>All you need at the venue is a PDF or some other digital trace of your ticket. We don't want to harm any trees.</p>
<p>See you in May!<br>
Much love from the Web Rebels</p>
</div>
</div>
