<div class="floor">
  <div class="inner-nrw">

<h1 class="ratherloud-heading">Videos of talks</h1>
<p>All 16 talks from Web Rebels 2015 are up. Not sure where to start?<br> 
Go read more about <a href="/speakers"> our speakers and their talks</a>.</p>

<ul class="videos">
  <li>
    <a class="video-link" href="https://vimeo.com/128742907">
      <h3 class="ratherloud-rebel">Barbara Bermes</h3>
      <p>Third Party Footprint: Evaluating the Performance of&nbsp;External Scripts&nbsp;<span class="arr">➡</span></p>
    </a>
  </li>
  <li>
    <a class="video-link" href="https://vimeo.com/128767310">
      <h3 class="ratherloud-rebel">Brian J Brennan</h3>
      <p>Ladies and Gentlemen We Are Floating in Cyberspace&nbsp;<span class="arr">➡</span></p>
    </a>
  </li>
  <li>
    <a class="video-link" href="https://vimeo.com/128772581">
      <h3 class="ratherloud-rebel">Brittany Storoz</h3>
      <p>Intelligent Design: Application Architecture of the Human Body&nbsp;<span class="arr">➡</span></p>
    </a>
  </li>
  <li>
    <a class="video-link" href="https://vimeo.com/128748712">
      <h3 class="ratherloud-rebel">Jenn Schiffer</h3>
      <p>Who Visualized the&nbsp;Bomp?&nbsp;<span class="arr">➡</span></p>        
    </a>
  </li>
  <li>         
    <a class="video-link" href="https://vimeo.com/128739471">
      <h3 class="ratherloud-rebel">Dale Harvey</h3>
      <p>The Native Web&nbsp;<span class="arr">➡</span></p>     
    </a>
  </li>
  <li>         
    <a class="video-link" href="https://vimeo.com/128787918">
      <h3 class="ratherloud-rebel">Fergus McDowall</h3>
      <p>An introduction to search-index.js&nbsp;<span class="arr">➡</span></p>        
    </a>
  </li>
  <li>         
    <a class="video-link" href="https://vimeo.com/128791528">
      <h3 class="ratherloud-rebel">Mikeal Rogers</h3>
      <p>Rules for Rebels&nbsp;<span class="arr">➡</span></p>
    </a>
  </li>
  <li>
    <a class="video-link" href="https://vimeo.com/128790457">
      <h3 class="ratherloud-rebel">Christian Johansen</h3>
      <p>Immutable JavaScript&nbsp;<span class="arr">➡</span></p>
    </a>
  </li>
  <li>
    <a class="video-link" href="https://vimeo.com/128973107">
      <h3 class="ratherloud-rebel">Mathias Bynens</h3>
      <p>JavaScript <span class="c1">♥</span>&nbsp;Unicode&nbsp;<span class="arr">➡</span></p>
    </a>
  </li>
  <li>
    <a class="video-link" href="https://vimeo.com/128795311">
      <h3 class="ratherloud-rebel">Lars Hansen</h3>
      <p>Shared-memory multicore computation in&nbsp;JavaScript&nbsp;<span class="arr">➡</span></p>
    </a>
  </li>
  <li>
    <a class="video-link" href="https://vimeo.com/128796804">
      <h3 class="ratherloud-rebel">C J Silverio</h3>
      <p>Cheating Gall’s Law&nbsp;<span class="arr">➡</span></p>
    </a>
  </li>
  <li>
    <a class="video-link" href="https://vimeo.com/128798201">
      <h3 class="ratherloud-rebel">David Rousset</h3>
      <p>Creating immersive 3D and audio web experiences with Babylon.js&nbsp;<span class="arr">➡</span></p>
    </a>
  </li>
  <li>
    <a class="video-link" href="https://vimeo.com/129003513">
      <h3 class="ratherloud-rebel">Suz Hinton</h3>
      <p>Babbling with the merfolk: between the layers</span> of JavaScript hardware&nbsp;<span class="arr">➡</span></p>
    </a>
  </li>
  <li>
    <a class="video-link" href="https://vimeo.com/128857357">
      <h3 class="ratherloud-rebel">Mairead Buchan</h3>
      <p>VR in the browser with Leap motion and Google cardboard&nbsp;<span class="arr">➡</span></p>
    </a>
  </li>
  <li>
    <a class="video-link" href="https://vimeo.com/128858107">
      <h3 class="ratherloud-rebel">Linda Sandvik</h3>
      <p>Raising the next generation of rebels&nbsp;<span class="arr">➡</span></p>
    </a>
  </li>
  <li>
    <a class="video-link" href="https://vimeo.com/128858567">
      <h3 class="ratherloud-rebel">Matthew Podwysocki</h3>
      <p>Async Programming at Netflix&nbsp;<span class="arr">➡</span></p>
    </a>
  </li>
</ul>


  </div>
</div>