/* src/css/structure.css */

@font-face {
    font-family: "RatherLoud";
    src: url("/fonts/RatherLoud-webfont.eot");
    src: url("/fonts/RatherLoud-webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/RatherLoud-webfont.woff2") format("woff2"),
         url("/fonts/RatherLoud-webfont.woff") format("woff"),
         url("/fonts/RatherLoud-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* Base 
------------------------------------------------------*/

html {
   font-family: Georgia, serif;
   font-size: 18px;
   line-height: 1.5;
   box-sizing: border-box;
}

body {
   background-color: #fff;
   color: #3C3C36;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

a:link,
a:visited {
   color: #69A0A8;
}

a:hover,
a:focus,
a:active {
   color: #308A8E;
}

img {
  max-width: 100%;
  height: auto;
}

article, aside, figure, footer, header, nav, section {
  display: block;
}

ul, ol, p, img {
  margin: 0 0 1.5em 0;
}

ul, ol {
  padding-left: 1em;
}

ul {
  list-style-type: disc;
}

h1, h2, h3 {
   margin: 0;
   line-height: 1.1;
}

/* hiding content ref http://snook.ca/s/992 */
.visuallyhidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

/* self-clear floats from handcraftedcss.com */
.group:after,
.floor:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

/* clearfix */
.cf {
    content:"";
    display:table;
    clear:both;
}

.block {
  clear: both;
}

article {
   border-top: 2px solid #efefed;
   padding-top: 1em;
   margin-top: 2em;
}



/* Layout 
------------------------------------------------------
This rebel HQ consists of buildings with various heights.
Some pages are a low-rise with three storeys.
Others pages have several floors below the attic.
And the front page has a swanky penthouse on top.

   /-----/   attic (or penthouse!)
   =======   floor
   =======   floor
   =======   floor
   #######   cellar   */

.attic {
  background-color: #4F4F4A;
  margin-bottom: 20px;
}

.attic .inner {
  padding-top: 2em;    
}

.floor {

}

.inner,
.inner-nrw,
.inner-wide {
   max-width: 90%;
   margin: 0 auto;
}

@media screen and (min-width: 1100px) { 
  .inner {
    max-width: 1000px;
  }   
  .inner-nrw {
    max-width: 800px;
  }  
}

@media screen and (min-width: 1350px) { 
  .inner-wide {
    width: 90%;
    max-width: 1140px;
  } 
}

/* specific interiors for fancier floors of the building above the fold */

.penthouse {
   background: #4F4F4A url("/img/bg-penthouse.svg") no-repeat 50% 100%;
   background-size: contain;
   min-height: 200px;
}

@media screen and (min-width: 800px) { 
   .penthouse {
      min-height: 300px;
      margin-bottom: 10px;
   } 
}

@media screen and (min-width: 1200px) { 
   .penthouse {
      background-size: contain;
      min-height: 450px;
   } 
}



/* Typography above the fold
------------------------------------------------------ */

.ratherloud-rebel,
.ratherloud-heading {
    font-family: RatherLoud;
    font-size: 2em;
    font-style: normal;
    font-weight: normal;
    line-height: 0.85;
}

@media screen and (min-width: 800px) {
   .ratherloud-rebel,
   .ratherloud-heading {
      font-size: 3em;
   }
   .rebelwithalongname {
      font-size: 2.5em;
   }
}

@media screen and (min-width: 1000px) {
   .ratherloud-heading {
      font-size: 4em;
   }
   .rebels .ratherloud-rebel {
      font-size: 4em;      
   }
}



/* Colours
------------------------------------------------------*/

.c0 {color: #3c3c3a;}
.c1 {color: #997671;}
.c2 {color: #688C84;}
.c3 {color: #9D9D9D;}
.c4 {color: #ccbea7;}



/* Modules above the fold
------------------------------------------------------*/

/* Logo and info in the header */

.logo {
   width: 35%;
   max-width: 250px;
   float: left;
   margin-right: 5%;
}

.logo > a:hover {
   position: relative;
   top: 1px;
}

.info {

}

@media screen and (min-width: 1000px) {
  .logo {
      width: 400px;
      max-width: 400px;
      float: left;
      margin-right: 2em;
   }
   .info {
      width: 400px;
      float: left;
      text-align: left;
   }
}

/* Front page chunks of content */

.gridone,
.gridtwo {

}

@media screen and (min-width: 600px) {
   .gridone {
      width: 48.5%;
      float: left;
   }
   .gridone-a {
      margin-right: 3%;
   }
   .gridone-b {
      clear: right;
   }
   .gridtwo {
      width: 100%;
      float: left;
   }
}

.chunk {
   border-color: currentColor;
   background-repeat: no-repeat;  /* yep */
   margin-bottom: 20px;
}

.chunk-linkbox {
                                  /* background-color: #fff;  meh */
   box-sizing: border-box;
   border-width: 6px;
   border-style: solid;
   border-color: inherit;
   display: block;
   padding: 1em 1em 0.75em 1em;
}

.chunk-linkbox h2 {
   margin-bottom: 0.1em;
}

.chunk-linkbox p {
   color: #444;
   margin-bottom: 0;
}

.chunk-linkbox:hover {
   opacity: 0.8;
}


/* chunk styles for tickes, openmic, about, previous, sponsors */

.chunk-tickets {
   background-image: url("/img/chunk-tickets.svg");
   background-position: 95% 0;
   background-size: auto 140px;
}

.chunk-tickets .chunk-linkbox {
   padding-right: 80px;
}

.chunk-openmic {
   background-image: url("/img/chunk-openmic.svg");
   background-position: 95% 100%;
   background-size: auto 80px;
}

.chunk-openmic .chunk-linkbox {
   padding-right: 60px;
}

.chunk-about {
   background-image: url("/img/chunk-webrebels.svg");
   background-position: 0px 0px;
   background-size: auto 60px;
   background-position: 97% 100%;
}

.chunk-about .chunk-linkbox {
   padding-bottom: 40px;
}

.chunk-lookingback {
   background-image: url("/img/chunk-lookingback.svg");
   background-position: 10px 10px;
   background-size: auto 50px;
}

.chunk-lookingback h2 {
   padding-left: 60px;
}

.chunk-sponsors {
   background-image: url("/img/chunk-sponsors.svg");
   background-size: auto 60px;
   background-position: 95% 10px;
}

.chunk-sponsors .chunk-linkbox {

}

.chunk-location {
   background-image: url("/img/chunk-location.svg");
   background-size: auto 70px;
   background-position: 95% 100%;
}
.chunk-location .chunk-linkbox {
  padding-bottom: 50px;
}

.chunk-schedule {
   background-image: url("/img/chunk-schedule.svg");
   background-size: auto 60px;
   background-position: 95% 10px;
}
.chunk-schedule .chunk-linkbox {

}

@media screen and (min-width: 800px) {
   .chunk {
      margin-bottom: 30px;
   }
   .chunk-linkbox h2 {
      margin-bottom: 0.03em;
   }
   .chunk-tickets {
      background-size: auto 120%;
      background-position: 97% -40px;
      padding-bottom: 25px;
      margin-bottom: -25px;
   }
   .chunk-tickets .chunk-linkbox {
      padding-right: 120px;
      padding-bottom: 0.75em;
   }
   .chunk-openmic {
      background-size: auto 90%;
      background-position: 92% 100%;
      padding-bottom: 0.75em;
      padding-right: 20px;
      margin-right: -20px;
      margin-bottom: 20px;
   }
   .chunk-openmic .chunk-linkbox {
      padding-right: 120px;
      padding-bottom: 0.75em;
   }
   .chunk-about {
      background-size: auto 95%;
      background-position: bottom left;
   }
   .chunk-about .chunk-linkbox {
      padding-left: 140px;
      padding-bottom: 0.75em;
   }
   .chunk-lookingback {
      background-size: auto 100px;
      background-position: -10px 0;
      padding-left: 20px;
      margin-left: -20px;
   }
   .chunk-lookingback h2 {
      padding-left: 80px;
   }
   .chunk-sponsors {
      background-size: auto 140px;
      background-position: 100% 0;
      padding-top: 30px;
      margin-top: -30px;
   }
   .chunk-sponsors .chunk-linkbox {

   }
   .chunk-location {
      background-size: auto 150px;
      background-position: 97% 100%;
   }
   .chunk-location .chunk-linkbox {
      padding-bottom: 0.75em;
      padding-right: 90px;
   }
   .chunk-schedule {
      background-image: url("/img/chunk-schedule.svg");
      background-size: auto 120px;
      background-position: 100% 0;
      padding-top: 40px;
      margin-top: -40px;
   }
   .chunk-schedule .chunk-linkbox {
   
   }
}
