
/* Layout below the fold
------------------------------------------------------ */

.cellar {
  background-color: #4F4F4A;
}

/* specific interiors for fancier floors of the building */

.whereSpeakersHangOut {
   padding-top: 1em;
   margin-bottom: 1em;
}

.whereSponsorsLive {
  padding: 1em 0 0 0;
  margin-bottom: 0;
}

@media screen and (min-width: 1000px) { 
   .whereSponsorsLive {
     background: #fff url("../img/bg-sponsors.svg") 50% 0;
     padding: 2em 0 0 0;
   }
}

.cellar .inner {
  padding: 2em 0 1em 0;    
}

/* Typography below the fold
------------------------------------------------------ */

.notsoloud {
   font-family: Arial, sans-serif;
   font-size: 0.8em;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.btn {
   font-family: Arial, sans-serif;
   font-size: 18px;
   font-weight: bold;	
}

/* tiny type tweeks */

.info span {
   padding: 0 4px;
   position: relative;
   top: 3px;
}

.arr {
   color: #777;
   position: relative;
   top: 2px;
   padding: 2px;
}

/*
We want responsive line breaks. More about this technique
here: danielmall.com/articles/responsive-line-breaks */

@media screen and (min-width: 900px) {
   .rwd-line {
      display: block;
   }
}


/* Rest of the modules
------------------------------------------------------*/

/* Speakers on the front page */

.speakers {
   list-style-type: none;
   padding-left: 0;
   margin-bottom: 0;
}

.speaker {

}

.speaker-link {
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   align-items: flex-end;
   margin-bottom: 20px;
}

.speaker-img {
   width: 48px;
   height: 48px;
   margin: 0 15px 0 0;
   -webkit-clip-path: polygon(2% 4%, 100% 0, 93% 100%, 7% 100%);
   clip-path: polygon(2% 4%, 100% 0, 93% 100%, 7% 100%);
}

li:nth-of-type(3n) .speaker-img {
   -webkit-clip-path: polygon(0 2%, 100% 4%, 96% 100%, 4% 100%);
   clip-path: polygon(0 2%, 100% 4%, 96% 100%, 4% 100%);
}

li:nth-of-type(3n-1) .speaker-img {
   -webkit-clip-path: polygon(0 5%, 98% 1%, 95% 100%, 2% 100%);
   clip-path: polygon(0 5%, 98% 1%, 95% 100%, 2% 100%);
}

.speaker-name {
   color: #3c3c3a;
}

.speaker-link:hover .speaker-name {
   color: #688C84;
   transition: all 0.1s ease 0s;
}

@media screen and (min-width: 600px) {
   .speakers {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
   }
   .speaker {
      width: 50%;
      margin: 0;
   }
   .speaker-link {
      margin: 0 20px 20px 0;
   }
   .speaker-img {
      width: 80px;
      height: 80px;
   }
}

@media screen and (min-width: 1000px) {
   .speakers {
      justify-content: center;
   }
    .speaker {
        width: 25%;
        text-align: center;
    }
    .speaker-link {
       display: block;
       margin-bottom: 2em;
    }
    .speaker-img {
        width: 100%;
        height: auto;
        margin: 0 0 2px 0;
    }
}

/* Rebels = speakers on the speaker page */

.rebels {
   list-style-type: none;
   padding-left: 0;
   border-top: 6px solid #525251;
   margin-top: 20px;
}

.rebels > li {
   padding: 1.5em 0;
   border-bottom: 6px solid #525251;
}

.rebel-img {
   max-width: 100px;
   margin-right: 1em;
   float: left;
}



@media screen and (min-width: 800px) {
  .rebel-img {
   max-width: 300px;
   }
}


/* Sponsors */

.sponsors {
   list-style-type: none;
   padding-left: 0;
   margin-right: -5px;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: flex-end; 
   align-items: flex-end;
}

.sponsors li {
   text-align: center;
   width: 25%;
}

.sponsors a {
   display: block;
   line-height: 0.5;   /* or set a height? */
   margin: 0 10px 5px 0;
}

.sponsors img {
   margin-bottom: 0;
   border: 3px solid #F2F2F2;
}

.sponsors a:hover img {
   opacity: 0.9;
   border-color: #D3D3D3;
}

@media screen and (min-width: 1000px) { 
   .sponsors {
      margin-right: -20px;
   }
   .sponsors li {
      width: auto;
   }
   .sponsors a {
      margin: 0 20px 20px 0;
   }
   .sponsors img {
      border: 6px solid #F2F2F2;
   }
}

.featured {
   background-color: #fff;
   color: #777;
   font-family: Arial, sans-serif;
   font-size: 10px;
   text-transform: uppercase;
   line-height: 1.2;
   display: block;
   margin-bottom: 10px;
   padding-bottom: 5px;
}

.sponsors .featured + a {
	margin-top: -12px;
}

@media screen and (min-width: 1000px) { 
  .featured {
     letter-spacing: 2px;
     padding-right: 20px;
     padding-bottom: 10px;
  }
}


/* The conference schedule */

.schedule {
   width: 100%;
   margin-bottom: 3em;
   border-collapse: collapse;
   border-top: 4px solid #525251;
   border-bottom: 4px solid #525251;
}

.schedule p {
   margin-bottom: 0;
}

.schedule th {
   padding: 0.5em 1em;
   vertical-align: text-top;
}

.schedule td {
   vertical-align: text-top;

}

.schedule-break {
   border-top: 2px solid #efefed;
   border-bottom: 2px solid #efefed;
   color: #8A8A86;  
}

.schedule-break > td {
   padding: 0.5em 1em; 
   font-style: italic;
}

.schedule-talk > td {
   padding-left: 1em;
}

.schedule-link {
   display: block;
   padding: 0.5em 1em;
   margin-left: -1em;
}

a.schedule-link {
   color: #3C3C36;
}

.schedule-link:hover {
   background-color: #efefed;
   transition: background 0.1s ease-in 0s;
}


/* Open Mic request */

.openmicform {
	background-color: #F2F2F2;
	padding: 1em;
	margin: 1em 0 2em 0;
}

.openmicform p {
	margin-bottom: 0.5em;
}

.openmicform label {

}

.openmicform input,
.openmicform textarea {
   border: 2px solid #ccc;
   padding: 1em;
   width: 100%;
   margin: 0 auto 1em auto;
   box-sizing: border-box;
}

.openmicform input.btn {
	width: 33%;
	background-color: #aaa;
	border: 0;
	float: right;
	cursor: pointer;
}

.openmicform input.btn:hover {
	background-color: #688C84;	
}

@media screen and (min-width: 800px) { 
   .openmicform {
   	padding: 2em;
   }
}


/* menuthingy on pages Oslo and Family */

.survivalmenu {
  list-style-type: none;
  clear: both; 
  padding-left: 0;
  margin-left: -0.5em;
}

.survivalmenu-item {
  display: inline-block;
  margin-bottom: 0;
}

.survivalmenu-item a {
  display: block;
  padding: 0 0.075em;
  margin-bottom: 0;
}

.survivalmenu-item:nth-of-type(even) a {
  color: #A0A09D;
}

.survivalmenu-item a:hover,
.survivalmenu-item a:active {
  color: #444;
  transition: all 0.1s ease-in 0s;
}


/* Navigation in footer */

.menu {
   list-style-type: none;
   clear: both; 
   padding-left: 0;
}

.menu-item {
   display: inline-block;
}

.menu-item a {
   display: block;
   padding: 0.75em 1em 0.5em;
   color: #fff !important;
}

.menu-item a:hover,
.menu-item a:active {
   background-color: #3c3c36;
   transition: all 0.1s ease-in 0s;
}


/* special header in the footer */

#moar {
   border-top: 6px solid #3c3c36;
   padding-top: 0.25em;
   position: relative;
   left: 1em;
   margin-bottom: 0.5em;
}



/* the end */
